.section-2{

    .div-1{
        display: flex;
        justify-content: space-evenly;
        padding: 4%;

        #div-1-image>img{
            border-radius: 200px 200px 200px 200px;
            border:transparent solid 1px;
        }

        #div-1-1{
            padding: 2%;
            
            h1{
                font-size: 270%;
            }
        }
    }

    .div-2{
        display: flex;
        justify-content: space-evenly;
        padding: 4%;

        img{
            border-radius: 200px 200px 200px 200px;
            border:transparent solid 1px;
            
        }

        #div-2-2{

            padding: 5%;

            h1{
                font-size: 270%;
            }
        }
    }

    .div-3{
        display: flex;
        justify-content: space-evenly;
        padding: 4%;

        img{
            border-radius: 200px 200px 200px 200px;
            border:transparent solid 1px;
            
        }

    

        #div-3-3{

            padding: 5%;

            h1{
                font-size: 270%;
            }
        }
    }
}