.section-1{
    background-color: rgb(27, 27, 204);
    text-align: center;
    height: 400px;
    

    #div-1{
        padding: 2%;

        h1{
      font-size: 410%;
        }

        span{
            font-size: 60%;
        }

        input{
            border: 1px solid transparent;
            border-radius: 20px;
            height: 50px;
            width: 150px;
            background-color: rgb(209, 15, 74);
            color: white;
        }
    }
    

}